@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}
.topbar {
    max-width: 1500px;
    margin: auto;
    padding: 1rem;
}
.topbar__text {
    font-size: 14px;
}
.grid-container {
    margin: 0 .5rem;
}
.hero {
    display: flex;
    justify-content: center;
}
.hero__image {
    margin-top: 3rem;
    width: 250px;
    height: 250px;
}
.hero__title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
}
.hero__secondline {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 0 10px 0;
}
.hero__content {
    display: flex;
    flex-direction: column;
}
.hero__content button {
    margin: .5rem auto;
}
.hero__content p {
    text-align: center;
    margin: auto;
}
.about {
    margin: 2.5rem auto 2rem auto;
}
.about__title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.about__box {
    width: 100%;
}
.about__text {
    text-align: center;
}
.footer__text {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.footer__media {
    margin: 1rem 2rem;
}
