@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Sora:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}
.topbar {
    max-width: 1500px;
    margin: auto;
    padding: 1rem .5rem;
}
.topbar__text {
    font-size: 12px;
}
.grid-container {
    margin: 0 .5rem;
}
.hero {
    display: flex;
    justify-content: center;
}
.hero__image {
    margin-top: 3rem;
    width: 250px;
    height: 250px;
}
.hero__img {
    max-width: 100%;
}
.hero__title {
    font-size: 5rem;
    display: flex;
    justify-content: center;
}
.hero__secondline {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 0 10px 0;
}
.hero__content {
    display: flex;
    flex-direction: column;
}
.hero__btn {
    margin: 0 auto .5rem;
}
.hero__content p {
    text-align: center;
    margin: auto;
}
.about {
    margin: 2.5rem auto 2rem auto;
}
.about__title {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
.about__box {
    width: 100%;
}
.about__text {
    text-align: center;
}
.footer__content {
    flex-direction: column;
}
.footer__media {
    justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
    .topbar__green--background {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .topbar__green--background {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .topbar__text {
        font-size: 14px;
    }
    .hero__image {
        width: 450px;
        height: 450px;
    }
    .hero__title {
        font-size: 9rem;
        display: flex;
        justify-content: flex-start;
        margin: 2rem 0 0 0;
    }
    .hero__secondline {
        font-size: 4rem;
        text-align: start;
    }
    .hero__content {
        display: flex;
        flex-direction: row;
        gap: .5rem
    }
    .hero__btn {
        margin: .5rem 0;
    }
    .hero__content p {
        text-align: left;
        font-size: 14px;
        width: 600px;
        line-height: 18px;
    }
    .about {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: .5fr .1fr 1fr 1fr .1fr;
        margin-top: 5rem;
    }
    .about__title {
        grid-column: auto / span 2;
        grid-row: 1/2;
        font-family: 'Maven Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 96px;
        line-height: 100px;
        text-align: right;
        letter-spacing: 0.03em;
        width: 370px;
    }
    .about__box {
        max-width: 100%;
        max-height: 100%;
    }
    .about--lightgreen {
        border: 5px solid #55EABD;
        grid-column: 1 / 3;
        grid-row: 3 / 6;
        z-index: -1;
    }
    .about__text {
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        max-width: 66%;
        padding: 1rem 0 1rem 1rem;
    }
    .about--darkgreen {
        border: 5px solid #106B5B;
        background: #ffffff;
        grid-column: 2 / 4;
        grid-row: 2 / 5;
    }
    .about__img {
        width: 100%;
        height: 450px;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .footer__content {
      flex-direction: row;
    }
    .footer__media {
        width: 100%;
    }

}
@media screen and (min-width: 960px) {

   .grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
   }
   .topbar__green--background {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
   }
   .topbar {
    grid-column: auto / span 4;
    grid-row: 1 / 2;
    width: 100%;
   }
   .topbar__text {
    font-size: 16px;
   }
   .hero {
    grid-column:  1 / 4;
    grid-row: 2 / 3;
    width: 100%;
   }
   .hero__headline {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
   }
   .hero__title, .hero__secondline, .hero__content {
    margin: 0;
   }
   .hero__secondline {
    font-size: 5rem;
   }
   .hero__content {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
   }
   .hero__content p {
    width: 954px;
    font-size: 12px;
   }
   .about {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
   }
   .about__text {
    max-width: 50%;
    }
    .footer__content {
        justify-content: space-between;
    }
}
@media screen and (min-width: 1200px) {
    
    .grid-container {
        max-width: 1200px;
        margin: auto;
    }
    .about__text {
        max-width: 50%;
    }
    .hero__title {
        font-size: 12.5rem;
        line-height: 150px;
    }
    .hero__secondline {
        font-size: 6.5rem;
        line-height: 88px;
        letter-spacing: 0.03em;
    }
    .hero__content p {
        font-size: 1rem;
    }
}
