<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/booking/booking.css">
</head>
<body>
    <div class="search-content">
        <section class="search">
            <article class="search__select">
                <select><option value="date">arrival date</option></select>                        
                <select><option value="date">departed date</option></select>                        
                <select><option value="number">guests</option></select>                        
                <button class="search__btn">continue</button>
            </article>
            <article class="search__text">
                <p>Remind me later</p>
                <p>Edit or cancle my reservation</p>
            </article>
        </section>
        <figure class="search__lightgreen--box"></figure>
    </div>
    <br>
    <br> <section class="bedroom">
        <img class="bedroom__img" src="../image/03-day.jpg"/>
        <article class="bedroom__text">
            <h3>lorem ipsum bedroom</h3>
            <p class="bedroom__p">1 - 2 persons</p>

            <p class="bedroom__p2">Uniq design<img class="bedroom__svg" src="../image/svg/Line 3.svg"/>Room for 2 people</p>
            <p class="bedroom__b"><b>Read more</b></p>
        </article>
        <aside class="bedroom__price">
            <article class="bedroom__price--text">
                <p>FROM</p>
                <h3>995sek</h3>
            </article>
            <p class="bedroom__price--p">room for 1 night</p>
            <button class="bedroom__btn">book this room</button>
        </aside>
    </section>

    

</body>
</html>