@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Sora:wght@400;700&display=swap');

body{
font-family: 'Maven Pro';
}
.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.about__title {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 600;
    /* font-size: 96px;
    line-height: 100px; */
    /* or 104% */
    text-align: right;
    letter-spacing: 0.03em;
    width: 370px;
}
.about__box {
    width: 920px;
    height: 720px;
}
.about--lightgreen {
    border: 5px solid #55EABD;
    grid-column: 1 / 3;
    grid-row: 2 / 10;
}
.about__text {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 0.04em;
    /* width: 403px;
    height: 510px; */
    max-width: 50%;
}
.about--darkgreen {
    border: 5px solid #106B5B;
    background: #ffffff;
    grid-column: 2 / 4;
    grid-row: 1 / 9;
}
.about__img {
    width: 759px;
    height: 563px;
    display: flex;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 5rem auto;
}





/* .about__frame {
    grid-column: 2 / 4;
    background: rgba(102, 69, 54, 0.35);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
} */


