@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Sora:wght@400;700&display=swap');

.logo {
    margin: auto;
    position: absolute;
    width: 400px;
    height: 400px;
    /* bottom: 0;
    top: 0;
    left: 0;
    right: 0; */
    border-radius: 50%;
    /* border: 1px solid #ffffff; */
    background-color: #9F948F;
    box-shadow: 0px 20px 35px rgb(0, 0, 0, 0.3);
    overflow: hidden;
}
.logo::before {
    position: absolute;
    width: 150%;
    height: 150%;
    background: conic-gradient(from 90deg, rgb(0 0 0 / 0%) 70%, rgba(255, 255, 255, 0.09) 80%, rgb(255, 255, 255) 100%);
    content: '';
    left: -25%;
    top: -25%;
    animation: rotate 5s infinite linear;
}
.logo::after {
    position: absolute;
    width: 98%;
    height: 98%;
    background-color: #9F948F;
    content: '';
    top: 1%;
    left: 1%;
}
/* @keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}  */

.round, .round::before, .round::after {
    border-radius: 100%;
}
/* .logo__img {
    position: relative;
    width: 249px;
    height: 254px;
    left: 73px;
    top: 50px;
    z-index: 1;
} */
.hero__img {
    width: 450px;
    height: 450px;
}
.hero__image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.hero__headline {
    margin: 0;
    /* font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.04em;
    color: #000;
    text-decoration-color: 1px solid #080707;
    padding-right: 20px; */
}
.hero__title {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    /* border: 3px solid #000000; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;;
    /* text-shadow: -1px 0 #ffffff, 0 1px  #ffffff, 1px 0  #ffffff, 0 -1px  #ffffff; */
    margin-top: 2rem;
}
.hero__secondline {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
/* .hero__content {
    display: flex;
    gap: 8px;
} */
.hero__content button {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #000;
    width: 235px;
    height: 53px;
    border: 1px solid #000;
    filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.25));
    border-radius: 2px;
    text-transform: uppercase;
    background: #9f948f00;
    cursor: pointer;
}
.hero__content button {
    position: relative;
}
.hero__content button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #55EABD;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}
.hero__content button {
    transition: color 300ms ease-in-out;
    z-index: 1;
}
.hero__content button:hover::before,
.hero__content button:focus::before {
    transform: scaleX(1);
}
.hero__content button:before,
.hero__content button:focus {
    color: #ffffff;
}
.hero__content p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 24px;
    letter-spacing: 0.03em;
    /* margin: 0; */
}
