<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/hero/hero.css">
</head>
<body>
          <!-- <div class="col-md-4">
        <img class="logo__img" src="../image/logo/bonz.ai-logo-white-portrait.png"/>
        <section class="logo round">
        </section>
    </div> -->
    <div class="hero__img">
    <img class="hero__image" src="/image/johny-goerend-U_diPCXCBxU-unsplash.jpg" alt="round image with mountains and aurora">
    </div>
    <section class="hero__headline">
        <h1 class="hero__title">bonz.ai</h1>
        <h2 class="hero__secondline">ai driven eko living</h2>
        <article class="hero__content">
            <button>book your stay</button>
            <p>Relax, rejuvenate and unwind in this unique AI driven cabin. Feel the tranquility of the true Swedish countryside with birds chirping, rivers flowing and trees blowing in the wind. <b>[Read more]</b></p>
        </article>
    </section>
</body>
</html>