@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Sora:wght@400;700&display=swap');

body {
font-family: 'Maven Pro';
}
.footer__arrow--up {
    display: flex;
    margin: 10px auto;
}
.footer__line {
    border: 1px solid #106B5B;
    max-width: 1500px;
    margin: auto;
}
.footer__content {
    display: flex;
    max-width: 1500px;
    margin: auto;
}
.footer__text {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 1rem;
    width: 100%;
    max-width: 400px;
}
.footer__links {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 129px;
}
.footer__links a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    gap: .5rem;
}
.footer__location u {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
.footer__media {
    max-width: 410px;
    height: 100%;
    display: flex;
    margin: .5rem;
}