<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/footer/footer.css">
</head>
<body>
    <footer class="footer">
        <a href="topbar__menu--icon"><img class="footer__arrow--up" src="/image/svg/arrowcircleup.svg" alt="circle icon with arrow up"></a>
        <hr class="footer__line">
        <section class="footer__content">
            <div class="footer__text">
                <article class="footer__links">
                    <a href="#">about us</a>
                    <a href="#">contact</a>
                    <a href="#">privacy policy</a>
                    <a href="#">blog</a>
                </article>
                <article class="footer__location">
                    <u>location</u>
                    <p>Lorem ipsum <br> 432 32 SWEDEN</p>
                </article>    
            </div>
            <br>
            <div class="footer__media--wrapper">
                <article  class="footer__media">
                    <img src="/image/svg/Vector-2.svg"/>
                    <img src="/image/svg/Vector.svg"/>
                    <img src="/image/svg/Group.svg"/>
                    <img src="/image/svg/Vector-2.svg"/>
                </article>
            </div>
        </section>
    </footer>
</body>
</html>