@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Sora:wght@400;700&display=swap');

body {
font-family: 'Maven Pro';
}
/* .footer__content {
    display: flex;
    justify-content: space-between;
    margin: 1.6rem 3rem 0 2.75rem;
} */
.footer__arrow--up {
        display: flex;
        margin: 10px auto;
}
.footer__line {
    border: 1px solid #106B5B;
}
.footer__text {
    display: flex;
    /* gap: 5.25rem */
}
.footer__links {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 129px;
}
.footer__links a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
.footer__location u {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}
.footer__media--wrapper {
    width: 500px;
}
.footer__media {
    /* width: 410px; */
}