@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Sora:wght@400;700&display=swap');

body{
    font-family: 'Maven Pro';
    }
    .topbar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .topbar__content {
        grid-column:  1 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-between;
    }
    .topbar__menu--icon {
        width: 100%;
    }
    .topbar__green--background {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        z-index: -1;
        width: 100%;
    }
    .topbar__text {
        font-family: 'Maven Pro';
        font-style: normal;
        font-weight: 400;
        /* font-size: 24px; */
        line-height: 19px;
        letter-spacing: .03em;
        display: flex;
        gap: 2rem;
        text-transform: uppercase;
        margin: 10px 8px 0 0;
    }
    .topbar__text a {
        text-decoration: none;
        color: #000;
    }